@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=Poppins:wght@300&display=swap');

body{
    height: 100vh;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

.pp-1{
    padding: 1rem;
}

.back{
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(8px);
    height: 100%;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.pokedex{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap:2%
}

.pokedex > div{
    align-items: center;
    text-align: center;
}

.left-pokedex{
    display: grid;
    grid-template-rows: 20% 50% 30%;
}

.left{
    align-items: center;
    text-align: left;
}

.central{
    align-items: center;
    text-align: center;
}

.big-led{
    border: 5px solid white;
    padding: 42% 40%;
    background-color: #009dd4;
    border-radius: 50%;
    margin-top: 1rem;
    display: inline;
}

.led-arr{
    display: grid;
    grid-template-columns: 25% 75%;
}

.led-arr > div{
    align-items: center;
    text-align: left;
}

.lil-arr{
    margin-top: 1rem;
}


.lil-led{
    display: inline;
    border-radius: 50%;
    margin: .3rem;
    padding: .05rem .6rem;
}

.red-led{
    background-color: red;
    border: 1px solid rgb(230, 126, 126);
}

.yellow-led{
    background-color: #ff0;
    border: 1px solid rgb(255, 255, 222);
}

.main-screen{
    background-color: #ffffff;
    margin: 1rem 2rem;
    height: 50%;
    border: 2rem solid #dedede;
    border-radius: 1rem;
    border-bottom-left-radius: 4rem;
    padding: 1rem;
}

.poke{
    width: 50%;
    height: 80%;
}

.miniPokemon{
    width: 30%;
    height: 30%;
    margin: .3rem;
}


#pokemonName{
    margin-bottom: 1rem;
}

.bottom-buttons > input{
    border: none;
    padding: .7rem;
    border-radius: 2rem;
}

.bottom-buttons > input:focus(){
    border:solid 2px gray;   
}

.bottom-buttons > .search{
    padding: .7rem;
    text-decoration: none;
    background-color: red;
    color: white;
    border-radius: 2rem;
}

.right-pokedex{
    background-color: white;
    border-radius: 2rem;
    height: 30rem;
}

.info{
    overflow-y: scroll;
    width: 80%;
    height: 50%;
    margin: 2rem;
}

.info::-webkit-scrollbar {
    width: .7rem;
}

.info::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.info::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
​
